.berita {
    .content {
        margin-top: 100px;
        .jud {
            font-size: xx-large;
            font-weight: bolder;
        }

        // .src {
        //     .input-group {
        //         border-color: var(--color-4);
        //         border-style: solid;
        //         border-radius: 18px;
        //     }
        //     .form-control {
        //         border-color: var(--maroon) !important;
        //         border-radius: 14px;
        //     }

        //     .btn {
        //         border-color: var(--maroon) !important;
        //         background-color: var(--maroon);
        //         color: white;
        //         font-weight: bolder;
        //         border-radius: 14px;
        //     }

        //     .btn:hover {
        //         border-color: var(--maroon) !important;
        //         background-color: white;
        //         color: var(--maroon);
        //     }
        // }

        table {
            border-style: none;
            thead {
                display: none;
            }
        }

        .dataTables_wrapper {
            .dataTables_length {
                label {
                    select {
                        border-style: solid;
                        border-color: var(--color-8);
                        border-radius: 8px;
                    }

                    select:hover,
                    select:focus,
                    select:active,
                    select:active:focus:not(:disabled):not(.disabled) {
                        box-shadow: none !important;
                        outline: 0;
                    }
                }
            }

            .dataTables_filter {
                label {
                    input {
                        border-style: solid;
                        border-color: var(--color-8);
                        border-radius: 14px;
                    }
                    input:hover,
                    input:focus,
                    input:active,
                    input:active:focus:not(:disabled):not(.disabled) {
                        box-shadow: none !important;
                        outline: 0;
                    }
                }
            }

            .dataTables_paginate {
                .paginate_button {
                    background: var(--color-3);
                    color: var(--maroon) !important;
                    border-radius: 14px;
                }

                .paginate_button.current {
                    background: var(--color-11);
                    color: var(--maroon) !important;
                    border: none;
                }
            }
        }

        .card {
            border: none;
            border-radius: 24px;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
            //   box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
            //     rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
            transition: transform 0.5s;

            img {
                border-radius: 24px 24px 0 0;
            }

            a {
                text-decoration: none;
            }

            .judul {
                font-weight: bolder;
                color: var(--maroon);
                //   font-size: large;
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
            }

            .isi-berita {
                font-weight: lighter;
                color: black;
                //   font-size: medium;
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
            }

            .tgl {
                font-weight: bolder;
                font-size: small;
                color: var(--color-4);
            }
        }
        .card:hover {
            transform: scale(1.03);
            box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        }

        nav {
            margin-top: 70px;
            .page-item,
            .page-link {
                border-radius: 0;
                border-color: white;
                border-radius: 14px;
            }

            .page-item {
                .active {
                    background-color: var(--maroon);
                    border-color: white;

                    color: white;
                }
                a {
                    color: var(--maroon);
                    font-weight: bolder;
                }

                a:hover {
                    background-color: var(--maroon);
                    border-color: var(--maroon);
                    color: white;
                    border-color: white;
                }

                a:focus {
                    box-shadow: none !important;
                    background-color: var(--maroon);
                    //   border-color: var(--maroon);
                    border-color: white;

                    color: white;
                }
            }
        }
    }

    @media only screen and (max-width: 768px) {
        .jud {
            font-size: x-large !important;
        }
    }

    @media only screen and (max-width: 600px) {
        margin-left: 1rem;
        margin-right: 1rem;

        .jud {
            font-size: large !important;
        }
    }
}
