.judul-atas {
    font-size: 30px;
    font-weight: bold;
    color: var(--maroon);
    font-family: tubaba-bold;
}

.sub-judul {
    font-size: 15px;
    font-weight: bold;
    color: var(--maroon);
}

.margin-top {
    margin-top: 70px;
}

.jenis-produk-hukum {
    background-color: white;
    // border-radius: 48px;
    a {
        img {
            border-radius: 40px;

            box-shadow:
                rgba(0, 0, 0, 0.16) 0px 3px 6px,
                rgba(0, 0, 0, 0.23) 0px 3px 6px;
            transition: all 0.5s;
        }

        text-decoration: none;
    }

    a:hover {
        img {
            transform: scale(1.1);
        }
    }

    .btn-atas {
        width: 100%;
        border-radius: 48px;
        background-color: var(--maroon);
        color: var(--color-11);
        display: flex;
        justify-content: space-between;
        transition: all 0.5s;

        i {
            transition: all 0.5s;
        }
    }

    .btn-atas:hover {
        background-color: var(--color-11);
        color: var(--maroon);

        i {
            transform: rotate(-30deg);
        }
    }
}

.produk-update {
    .produk-hukum-terbaru {
        a {
            text-decoration: none;

            .bg-card {
                border-radius: 28px;
                transition: all 0.5s;
                background-color: var(--maroon);
                color: var(--color-11);

                .card-icon {
                    border: none;
                    background-color: var(--color-1);
                    img {
                        height: 30px;
                        width: auto;
                    }
                }

                .ket {
                    font-size: 15px;
                }

                .judul-peraturan {
                    font-size: 16px;
                    font-family: tubaba-bold;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 2;
                    overflow: hidden;
                }

                .inf {
                    font-size: 12px;
                }
            }
        }

        a:hover {
            .bg-card {
                background-color: var(--color-11);
                color: var(--maroon);
                border-color: var(--color-11);
            }
        }
    }

    .lihat-galeri-agenda {
        a {
            text-decoration: none;
        }

        .txt-1 {
            font-size: 40px;
            font-weight: bold;
            color: white;
        }

        .txt-2 {
            font-size: 23px;
            font-weight: lighter;
            text-align: center;
            transition: transform 0.7s;
            color: white;
        }

        img {
            margin-top: 40px;
            border-radius: 48px;
            transition: margin-top 0.7s;
        }

        .lihat-galeri {
            height: 333px;
            width: 100%;
            background-color: var(--color-4);
            border-radius: 48px;
            overflow: hidden;
            cursor: pointer;
        }
        .lihat-galeri:hover {
            img {
                margin-top: 20px;
            }

            .txt-2 {
                transform: scale(1.1);
            }
        }

        .lihat-agenda {
            height: 333px;
            width: 100%;
            background-color: var(--color-12);
            border-radius: 48px;
            overflow: hidden;
            cursor: pointer;
        }
        .lihat-agenda:hover {
            img {
                margin-top: 20px;
            }

            .txt-2 {
                transform: scale(1.1);
            }
        }
    }
}

.grafik-produk-hukum {
    background-color: var(--color-1);
    padding-top: 50px;
    padding-bottom: 70px;
    .konten-grafik {
        .info-grafik {
            .card-chartGrafis {
                border-radius: 24px;
                border: none;
                height: auto;
                border-color: var(--color-12);
                border-style: solid;
                background-color: transparent;
            }
            .wrapper {
                canvas {
                    padding: 12px;
                    height: 350px !important;
                    width: auto !important;
                }
            }
        }
    }
    .judul-atas-grafik {
        font-size: 30px;
        // font-weight: bold;
        font-family: tubaba-bold;
        color: var(--color-12);
    }

    .sub-judul-grafik {
        font-size: 15px;
        font-weight: bold;
        color: var(--color-12);
    }
}

.berita-terbaru {
    .grid-berbar {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 25px;
        .card-berbar {
            background-color: var(--color-3);
            transition: all 0.3s;
            border: none;
            border-radius: 24px;
            box-shadow:
                rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
                rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;

            a {
                text-decoration: none;
                .card {
                    transition: all 0.3s;

                    background-color: transparent;
                    border: none;

                    img {
                        border-radius: 24px;
                        height: 200px;
                        width: auto;
                        object-fit: cover;
                    }

                    .txt-2 {
                        font-size: 12px;
                        font-weight: 400;
                    }

                    .txt-1 {
                        font-size: medium;
                        color: #000;
                        // font-weight: 500;
                        font-family: tubaba-bold;
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 3;
                        overflow: hidden;
                        transition: all 0.3s;
                    }
                }
            }
        }

        .card-berbar:hover {
            transform: scale(1.03);
            .card {
                color: var(--color-8);

                .txt-1 {
                    color: var(--color-8);
                }
            }
        }
    }

    .btn-lihat-semua {
        a {
            width: 25%;
            text-decoration: none;
            .btn-sendiri {
                width: 100%;
                border-radius: 48px;
                background-color: var(--maroon);
                color: var(--color-11);
                display: flex;
                justify-content: space-between;
                transition: all 0.5s;

                i {
                    transition: all 0.5s;
                }
            }
        }

        a:hover {
            .btn-sendiri {
                background-color: var(--color-11);
                color: var(--maroon);

                i {
                    transform: rotate(-30deg);
                    color: var(--maroon);
                }
            }
        }
    }
}

.profil-testi {
    background-color: var(--color-8);
    .profil {
        background-color: var(--color-3);
        img {
            height: 500px;
            width: 500px;
            object-fit: cover;
        }
    }

    .ket {
        color: white;
        .kepala {
            font-size: 25px;
            // font-weight: bold;
            font-family: tubaba-bold;
            color: var(--color-4);
        }

        .nama {
            font-size: 22px;
            // font-weight: bold;
            font-family: tubaba-bold;
        }

        .testi {
            font-size: 17px;
            font-weight: lighter;
            font-style: italic;
        }
    }
}

.apk-survey {
    .info-apk {
        .card {
            width: 100%;
            height: auto;
            border: none;
            border-radius: 48px;
            a {
                img {
                    height: 100%;
                    width: 100%;
                    border-radius: 48px;
                    transition: all 0.3s;
                }
            }
            a:hover {
                img {
                    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
                }
            }
        }
    }

    .survey {
        background-color: var(--color-3);
        border-radius: 48px;
        height: auto;
        border-color: var(--color-11);
        border-style: solid;

        .txt-1 {
            font-size: large;
            // font-weight: bold;
            font-family: tubaba-bold;

            text-align: center;
            color: var(--color-1);
        }

        .card {
            border: none;

            background-color: transparent;
            canvas {
                width: 50px;
                margin: 0;
            }
        }

        .btn-survey {
            background-color: var(--maroon);
            border-radius: 48px;
            color: var(--color-11);
            transition: all 0.3s;

            i {
                transition: all 0.3s;
            }
        }

        .btn-survey:hover {
            background-color: var(--color-12);
            color: var(--maroon);

            i {
                transform: rotate(-30deg);
            }
        }
    }
}

.dash-link {
    .head {
        font-size: 30px;
        // font-weight: bold;
        font-family: tubaba-bold;
    }
    .link-terkait {
        .card {
            background-color: transparent;
            border: none;
            transition: all 0.3s;

            img {
                border-radius: 48px;
                transition: all 0.3s;
                box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
            }
        }

        .card:hover {
            img {
                box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
                transform: scale(1.1);
            }
        }
    }

    .desa-sadar-hukum {
        a {
            text-decoration: none;

            .card {
                background-color: transparent;
                border: none;
                box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
                border-radius: 24px;
                transition: all 0.5s;

                img {
                    height: 70px;
                    width: auto;
                }
            }
        }

        a:hover {
            .card {
                background-color: var(--maroon);
                color: var(--color-11);
                transform: scale(1.05);
                box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            }
        }
    }
}

.dash-profil {
    background-color: var(--color-8);
    min-height: 80vh;

    h4 {
        color: var(--color-4);
    }
    h3,
    p {
        color: var(--color-6);
    }

    .dash-img {
        img {
            border-radius: 24px;
        }
    }

    // .owl-stage-outer {
    //     .active {
    //         margin-top: 100px;
    //     }

    // }
}

/* ============= !!! TABLET !!! ============= */
@media screen and (max-width: 769px) {
    .jenis-produk-hukum {
        background-color: white;
        a {
            img {
                border-radius: 24px;
            }
        }
    }

    .produk-update {
        .produk-hukum-terbaru {
            a {
                text-decoration: none;

                .bg-card {
                    .ket {
                        font-size: 12px;
                    }

                    .judul-peraturan {
                        font-size: 12px;
                        font-weight: 600;
                    }

                    .inf {
                        font-size: 12px;
                    }
                }
            }
        }

        .lihat-galeri-agenda {
            .txt-1 {
                font-size: 27px;
            }

            .txt-2 {
                font-size: 20px;
            }

            .lihat-galeri {
                height: 253px;
            }

            .lihat-agenda {
                height: 253px;
            }
        }
    }

    .grafik-produk-hukum {
        .konten-grafik {
            .info-grafik {
                .wrapper {
                    canvas {
                        padding: 12px;
                        height: 450px !important;
                    }
                }
            }
        }
    }

    .berita-terbaru {
        .btn-lihat-semua {
            a {
                width: 50%;
                button {
                    font-size: 14px;
                }
            }
        }
    }

    .profil-testi {
        .profil {
            img {
                height: 350px;
                width: 350px;
                object-fit: cover;
            }
        }

        .ket {
            .kepala {
                font-size: 20px;
            }

            .nama {
                font-size: 18px;
            }

            .testi {
                font-size: 15px;
            }
        }
    }

    .apk-survey {
        .info-apk {
            .card {
                width: 100%;
                height: auto;
                border: none;
                border-radius: 48px;
                a {
                    img {
                        height: 100%;
                        width: 100%;
                        border-radius: 48px;
                        transition: all 0.3s;
                    }
                }
                a:hover {
                    img {
                        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
                    }
                }
            }
        }
    }

    .dash-link {
        .head {
            font-size: 25px;
        }

        .link-terkait {
            .card {
                img {
                    border-radius: 28px;
                }
            }
        }
    }
}

/* ============= !!! MOBILE !!! ============= */
@media only screen and (max-width: 600px) {
    .margin-top {
        margin-top: 40px;
    }

    .judul-atas {
        font-size: 20px;
        font-weight: bold;
    }

    .produk-update {
        .produk-hukum-terbaru {
            a {
                .bg-card {
                    .inf {
                        font-size: 8px;
                    }
                }
            }
        }

        .lihat-galeri-agenda {
            .txt-1 {
                font-size: 14px;
            }

            .txt-2 {
                font-size: 10px;
            }

            .lihat-galeri {
                height: 153px;
                border-radius: 28px;
            }

            .lihat-agenda {
                height: 153px;
                border-radius: 28px;
            }
        }
    }

    .berita-terbaru {
        .grid-berbar {
            grid-template-columns: repeat(1, 1fr);
        }
        .btn-lihat-semua {
            a {
                width: 80%;
                button {
                    font-size: 12px;
                }
            }
        }
    }

    .profil-testi {
        .profil {
            img {
                height: 300px;
                width: 300px;
                object-fit: cover;
            }
        }

        .ket {
            .nama {
                font-size: 16px;
            }
            .kepala {
                font-size: 15px;
            }

            .testi {
                font-size: 12px;
            }
        }
    }

    .apk-survey {
        .info-apk {
            .card {
                border-radius: 24px;
                a {
                    img {
                        border-radius: 24px;
                    }
                }
            }
        }
    }

    .dash-link {
        .head {
            font-size: 17px;
        }

        .link-terkait {
            .card {
                img {
                    border-radius: 14px;
                }
            }
        }

        .desa-sadar-hukum {
            a {
                .card {
                    h4 {
                        font-size: 10px;
                    }
                    img {
                        height: 50px;
                        width: auto;
                    }
                }
            }

            a:hover {
                .card {
                    background-color: var(--maroon);
                    color: var(--color-11);
                    transform: scale(1.05);
                    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                }
            }
        }
    }
}
