.pages-all {
    margin-top: 13vh;
    .head {
        .jud {
            font-size: 3em;
            font-weight: bolder;
            font-family: tubaba-bold;
        }

        .jak {
            color: var(--maroon);
            font-weight: bold;
            font-size: large;
            font-family: tubaba-bold;
        }

        .kab {
            font-weight: lighter;
        }
    }
}

.judul-pages {
    .card {
        border-radius: 48px;
        background-color: var(--color-9);
        border: none;
        width: 75%;

        .judul {
            font-size: 30px;
            font-weight: 500;
            text-wrap: wrap;
            text-align: center;
        }
    }
}

.profil {
    .struktur {
        // border-style: solid;
        // border-color: var(--color-3);
        border-radius: 48px;

        img {
            border-radius: 48px;
            height: 75vh;
            width: auto;
        }

        .bagan {
            font-size: 20px;
            font-weight: bold;
            font-family: tubaba-bold;
        }

        .profil-struktur {
            .card {
                border: none;

                img {
                    width: 340px;
                    height: 450px;
                    object-fit: cover;
                    border-radius: 48px;
                    transition: all 0.3s;
                }

                .nama {
                    font-size: 17px;
                    font-weight: bold;
                    font-family: tubaba-bold;

                    transition: all 0.3s;
                }
                .jabatan {
                    font-size: 15px;
                    font-weight: 500;
                    transition: all 0.3s;
                }
            }

            .card:hover {
                img {
                    transform: scale(1.05);
                }

                .nama,
                .jabatan {
                    color: var(--color-8);
                }
            }
        }
    }
}

.page-jenis-produk {
    .card {
        border: none;
        img {
            transition: all 0.3s;
            border-radius: 48px;
        }
    }

    .card:hover {
        img {
            transform: scale(1.1);
        }
    }

    .konten {
        .head {
            font-size: 50px;
            font-weight: 500;
            text-align: center;
        }

        .filter-produk {
            .box-cari {
                .selection {
                    .select2-selection {
                        background-color: var(--color-3);
                        border-radius: 48px;
                        border: solid;
                        border-color: var(--color-9);
                        display: flex;
                        align-items: center;
                        height: 50px;
                        font-size: 16px;
                        padding: 5px;
                    }

                    .select2-selection__arrow {
                        margin-top: 8px;
                        margin-right: 10px;
                    }
                }

                .box-cari-perpustakaan {
                    input {
                        background-color: var(--color-3);
                        border-radius: 48px;
                        border: none;
                        height: 50px;
                        font-size: 16px;
                    }

                    input:focus {
                        box-shadow: none;
                    }
                }
            }

            .btn-filter {
                width: 100%;
                height: 50px;
                border-radius: 48px;
                font-size: 16px;
                background-color: var(--maroon);
                color: var(--color-11);
                transition: all 0.5s;
            }

            .btn-filter:hover {
                background-color: var(--color-11);
                color: var(--maroon);
            }
        }

        .data {
            a {
                text-decoration: none;
            }

            table {
                border-style: none;

                thead {
                    display: none;
                }

                .card-tabel-produk {
                    // background-color: var(--color-7);
                    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
                    border-radius: 24px;
                    color: var(--color-1);
                    font-size: 14px;
                    transition: all 0.3s;

                    h1 {
                        color: var(--color-1);
                        font-size: 18px;
                        padding: 0;
                    }

                    h2 {
                        color: var(--color-8);
                        font-size: 16px;
                        padding: 0;
                    }

                    .tabel-card-produk {
                        td {
                            margin: 0;
                            padding: 0;
                            font-size: 14px;
                        }
                    }
                }

                .card-tabel-produk:hover {
                    background-color: var(--color-7);
                }

                .btn-keterangan {
                    border-style: solid;
                    border-color: var(--maroon);
                    color: var(--maroon);
                    transition: all 0.5s;

                    a {
                        text-decoration: none;
                        color: var(--maroon);
                        transition: all 0.5s;
                        font-size: 14px;
                    }
                }

                .btn-keterangan:hover {
                    background-color: var(--maroon);
                    transition: all 0.5s;

                    a {
                        color: var(--color-11);
                    }
                }
            }

            .dataTables_wrapper {
                .dataTables_length {
                    label {
                        select {
                            border-radius: var(--maroon);
                            color: var(--maroon) !important;
                            border-radius: 7px;
                        }
                        select:hover,
                        select:focus,
                        select:active,
                        select:active:focus:not(:disabled):not(.disabled) {
                            box-shadow: none !important;
                            outline: 0;
                        }
                    }
                }

                .dataTables_filter {
                    label {
                        input {
                            border-radius: 12px;
                        }

                        input:hover,
                        input:focus,
                        input:active,
                        input:active:focus:not(:disabled):not(.disabled) {
                            box-shadow: none !important;
                            outline: 0;
                        }
                    }
                }

                .dataTables_paginate {
                    .paginate_button {
                        background: var(--color-3);
                        color: var(--maroon) !important;
                        border-radius: 14px;
                    }

                    .paginate_button.current {
                        background: var(--color-11);
                        color: var(--maroon) !important;
                        border: none;
                    }
                }
            }

            .tabel-perpustakaan {
                .card {
                    background-color: transparent;
                    height: 100px;
                    width: 75px;
                    // border-radius: 14px;

                    img {
                        height: 100px;
                        width: 75px;
                        object-fit: cover;
                        border-radius: 14px;
                    }
                }
            }
        }
    }
}

.page-detail-produk {
    .card {
        border: none;
        img {
            transition: all 0.3s;
            border-radius: 48px;
        }
    }

    .card:hover {
        img {
            transform: scale(1.1);
        }
    }

    .konten {
        .judul-produk {
            font-size: 30px;
            font-weight: bold;
            text-align: start;
        }
        .card-pdf {
            background-color: var(--maroon);
            border-radius: 7px;
            .cont-pdf {
                height: 90vh;
                width: 100%;
            }
        }

        a {
            text-decoration: none;
        }

        .btn-unduh {
            // width: 100%;
            border-radius: 48px;
            background-color: var(--maroon);
            color: var(--color-11);
            display: flex;
            justify-content: space-between;
            transition: all 0.5s;

            i {
                transition: all 0.5s;
            }
        }

        .btn-unduh:hover {
            background-color: var(--color-11);
            color: var(--maroon);

            i {
                transform: rotate(-30deg);
            }
        }

        .ket {
            font-size: medium;
        }

        .inf {
            font-weight: 500;
        }
    }
}

/* ============= !!! TABLET !!! ============= */
@media screen and (max-width: 769px) {
    .pages-all {
        margin-top: 50px;
        .head {
            .jud {
                font-size: 25px;
                font-weight: bolder;
            }

            .jak {
                color: var(--maroon);
                font-weight: bold;
                font-size: 15px;
            }

            .kab {
                font-size: 15px;
                font-weight: lighter;
            }
        }
    }

    .profil {
        .struktur {
            .bagan {
                font-size: 17px;
            }

            .profil-struktur {
                .card {
                    img {
                        width: auto;
                        height: 230px;
                        border-radius: 24px;
                    }

                    .nama {
                        font-size: 12px;
                    }
                    .jabatan {
                        font-size: 10px;
                        font-weight: 500;
                        transition: all 0.3s;
                    }
                }
            }
        }
    }

    .page-jenis-produk {
        .konten {
            .filter-produk {
                .box-cari {
                    select {
                        height: 35px;
                        font-size: 15px;
                    }
                }

                .btn-filter {
                    height: 35px;
                    font-size: 15px;
                }
            }
            .data {
                table {
                    font-size: 14px;
                    .jud {
                        width: 400px;
                        text-wrap: wrap;
                    }
                }
                .dataTables_wrapper .dataTables_paginate .paginate_button.current {
                    font-size: 12px;
                    border-radius: 12px;
                }
                .dataTables_wrapper .dataTables_paginate .paginate_button {
                    font-size: 12px;
                    border-radius: 12px;
                }
            }
        }
    }

    .page-detail-produk {
        .konten {
            .judul-produk {
                font-size: 20px;
            }
            .card-pdf {
                background-color: var(--maroon);
                border-radius: 7px;
                .cont-pdf {
                    height: 90vh;
                    width: 100%;
                }
            }

            .btn-unduh {
                border-radius: 48px;
                font-size: small;
            }

            .ket {
                font-size: small;
            }

            .inf {
                font-size: small;
                font-weight: 500;
            }
        }
    }
}

/* ============= !!! MOBILE !!! ============= */
@media only screen and (max-width: 600px) {
    .pages-all {
        margin-top: 13vh;
        .head {
            .jud {
                font-size: 17px;
                font-weight: bolder;
            }

            .jak {
                font-size: 13px;
            }

            .kab {
                font-size: 12px;
            }
        }
    }

    .page-detail-produk {
        .konten {
            .judul-produk {
                font-size: 18px;
            }
            .card-pdf {
                .cont-pdf {
                    height: 70vh;
                    width: 100%;
                }
            }

            .btn-unduh {
                font-size: 12px;
            }

            .ket {
                font-size: 12px;
            }

            .inf {
                font-size: 12px;
                font-weight: 500;
            }
        }
    }

    .profil {
        .struktur {
            .bagan {
                font-size: 12px;
            }

            .profil-struktur {
                .card {
                    img {
                        width: auto;
                        height: 165px;
                        border-radius: 24px;
                    }

                    .nama {
                        font-size: 10px;
                    }
                    .jabatan {
                        font-size: 8px;
                    }
                }
            }
        }
    }

    .page-jenis-produk {
        .data {
            table {
                .card-tabel-produk {
                    font-size: 10px !important;
                    h1 {
                        font-size: 12px !important;
                    }

                    h2 {
                        font-size: 10px !important;
                    }

                    .tabel-card-produk {
                        tr {
                            td {
                                font-size: 10px !important;

                                .btn {
                                    padding-top: 0;
                                    padding-bottom: 0;
                                    padding-left: 5px;
                                    padding-right: 5px;
                                    a {
                                        font-size: 10px !important;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
